.auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f9fc;
  }
  
  .auth-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  
  .auth-form h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
  }
  
  .auth-input {
    width: 100%;
    padding: 10px 15px; /* Equal padding on left and right */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  
  .auth-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .auth-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .auth-button:hover {
    background-color: #0056b3;
  }
  
  .auth-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #007bff;
  }
  
  .auth-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .auth-link a:hover {
    text-decoration: underline;
  }